.inputGroup {
  margin: 0.5rem !important;
}
.input {
  border-radius: 64px !important;
  background: #5a5a5a !important;
  box-shadow: inset 10px 10px 21px #4d4d4d, inset -10px -10px 21px #676767 !important;
  color: #fff !important;
  border: none !important;
  border-color: none !important;
  text-align: center;
}
.input:focus,
.input:active {
  background: none !important;
  background-color: none !important;
  border: none !important;
  border-color: none !important;
}
.card {
  border-radius: 20px !important;
  margin: 3rem !important;
  border-radius: 64px !important;
  background: linear-gradient(145deg, #606060, #515151) !important;
  box-shadow: 10px 10px 21px #4d4d4d, -10px -10px 21px #676767 !important;
  color: #fff !important;
}
.card-body {
  border-radius: 20px !important;
}
.cardTitle {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4) 0px 8px 13px rgba(0, 0, 0, 0.1)
    0px 18px 23px rgba(0, 0, 0, 0.1) !important;
}

.unit {
  border-radius: 64px !important;
}

@media (max-width: 800px) {
  .inputs {
    display: flex !important;
    flex-direction: column !important;
  }
  .input {
    margin: 0 !important;
  }
  .cards {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    justify-content: center !important ;
    align-items: center !important  ;
  }
}
