:root {
  --bgclr: #5a5a5a;
}
* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgclr);
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading h1 {
  color: #fff;
  font-style: bold;
  font-weight: 800;
  text-shadow: 0px 15px -10px rgba(255, 255, 255, 0.1) 10px 20px 5px rgba(
      255,
      255,
      255,
      0.1
    ) -10px 20px 5px rgba(255, 255, 255, 0.1);
}
.componets {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10rem !important;
  background: var(--bgclr);
}

::placeholder {
  color: rgba(255, 255, 255, 0.849);
}

@media (max-width: 800px) {
  .App {
    margin-top: 5rem !important;
  }
  .componets {
    margin: 0 !important;
  }
}

@media (max-width: 400px) {
  .App {
    margin-top: 2rem !important;
  }
}
