:root {
  --bgclr: #5a5a5a;
}
* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgclr);
}
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10rem !important;
  background: var(--bgclr);
}

::placeholder {
  color: rgba(255, 255, 255, 0.849);
}

@media (max-width: 800px) {
  .App {
    margin-top: 5rem !important;
  }
}
